* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #2a3030;
  --second-color: #2a3030;
  --main-color: #faba20;
  --big-gont: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}
.logo {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}
span {
  color: var(--main-color);
}
.navlist {
  display: flex;
}
.navlist a {
  color: var(--second-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
}
.navlist a:hover {
  color: var(--main-color);
}
.navlist a.active {
  color: var(--main-color);
}
#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 1001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}
section {
  padding: 160px 15% 120px;
}
.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  background-color: rgb(234, 234, 234);
  background-size: cover;
  width: auto;
  height: 100%;
  max-width: 100%;
}
.home-img img {
  height: auto;
  animation-delay: 2s;
  animation: imgg 2s ease-in-out infinite;
}
@keyframes imgg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-22px);
  }
  100% {
    transform: translateY(0px);
  }
}
.slide {
  margin-bottom: 20px;
}
.one {
  display: inline-block;
  margin-right: 15px;
  height: 32px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--text-color);
}
.two {
  display: inline-block;
  color: var(--second-color);
  font-size: 15px;
  font-weight: 500;
}
.home-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color);
  margin: 0 0 8px;
}
.home-text h3 {
  color: var(--text-color);
  margin: 0 0 35px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
}
h4 {
  color: #fff;
  font-weight: 100;
}
.home-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 15px;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: #faba20;
  border: 2px solid #faba20;
  border-radius: 8px;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  margin-top: 44px;
  display: inline-block;
}
.btn:hover {
  background-color: var(--text-color);
  color: #ffffff;
  border: 2px solid var(--text-color);
}
.btn2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 15px;
}
.btn2 span i {
  height: 40px;
  width: 40px;
  background: var(--main-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  border-radius: 40%;
  margin-right: 15px;
  transition: all 0.45s ease;
}
.btn2 span i:hover {
  transform: scale(1.1) translateY(5px);
}
header.sticky {
  background: rgb(234, 234, 234);
  border-bottom: 1px solid #faba20;
  padding: 12px 15%;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  background-color: #faba20;
  background-size: cover;
}
.about-img img {
  max-width: 100%;
  height: 100%;
  width: auto;
}
.about-text {
  color: var(--text-color);
}
.abaut-text h2 {
  font-size: 24px;
  line-height: 1;
}
.about-text h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 15px 0 30px;
}
.input-about {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p {
  color: var(--text-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 4rem;
}
.certificate {
  background: rgb(234, 234, 234);
}
.main-text {
  text-align: center;
  color: white;
}
.main-text p {
  color: var(--text-color);
  font-size: 15px;
  margin-bottom: 15px;
}
.main-text h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
}
.certificate-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.s-box {
  background: white;
  padding: 35px 45px;
  border-radius: 8px;
  transition: all 0.45s ease;
}
.s-icons i {
  font-size: 32px;
  margin-bottom: 20px;
}
.s-box h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}
.s-box p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}
.read {
  display: inline-block;
  padding: 8px 18px;
  background: #faba20;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.45s ease;
}
.read:hover {
  letter-spacing: 1px;
  background: #faba20;
  color: var(--text-color);
}
.s-box:hover {
  transform: translateY(-8px);
  cursor: pointer;
}
.skills {
  background: #faba20;
}
.wrapper {
  width: 100%;
  display: grid;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}
.wrapper .card {
  padding-top: 70px;
  background: #faba20;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 0px 0px #faba20;
}
.wrapper .card .circle {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}
.card .circle .box,
.card .circle .box span {
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .circle .box {
  height: 100%;
  width: 100%;
  background: #faba20;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.card .circle:hover .box {
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .box span,
.wrapper .card .text {
  background: -webkit-linear-gradient(left, #2a3030, #2a3030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle .box span {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.card .circle:hover .box span {
  transform: translate(-45%, -45%) scale(1.09);
}
.card .text {
  font-size: 20px;
  font-weight: 600;
}
.main-text {
  text-align: center;
  flex-wrap: wrap;
  color: var(--text-color);
}
.main-text p {
  color: var(--text-color);
  font-size: 15px;
  margin-bottom: 15px;
}
.main-text2 span {
  color: var(--text-color);
}
.contact {
  background: rgb(234, 234, 234);
}
.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.card-contact {
  background: #ffffff;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  font-style: normal;
}

.card-icon {
  font-size: 28px;
  background: #faba20;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card-contact:hover .card-icon {
  background: none;
  color: #faba20;
  transform: scale(1.6);
}

.card-contact p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
  color: var(--text-color);
}

.card-contact:hover p {
  max-height: 40px;
  opacity: 1;
}
.card-contact a {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.card-contact:hover a {
  max-height: 40px;
  opacity: 1;
}
.end {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: #2a3030;
}
.last-text p {
  color: #fff;
  font-size: 14px;
}
.top i {
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: #fff;
  background: #faba20;
}
@media (max-width: 3000px) {
  header {
    padding: 12px 2.5%;
    transition: 0.1s;
  }
  header.sticky {
    padding: 10px 2.5%;
    transition: 0.1s;
  }
  section {
    padding: 110px 3% 60px;
  }
  .end {
    padding: 16px 3% 60px;
  }
  .contact-info {
    flex-direction: column;
    justify-content: center;
  }
  .card-contact {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
    justify-content: center;
  }
}
@media (max-width: 1100px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    transition: 1s;
  }
  .home-text h3 {
    font-size: 2.5rem;
  }
  .home {
    height: 100%;
  }
  .bg-modal {
    max-width: 100%;
    max-height: 100%;
  }
  .modal-contents {
    max-height: 100%;
    max-width: 100%;
  }
}
@media (max-width: 920px) {
  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
    order: 2;
  }
  .about-img img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  .contact {
    grid-template-columns: 1fr;
  }
  .home {
    grid-template-columns: 1fr;
  }
  .home-img {
    text-align: center;
    order: 2;
  }
  .home-img img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
}
@media (max-width: 840px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: rgb(234, 234, 234);
    text-align: left;
    transition: 0.45s ease;
  }
  .navlist a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: 0.45s ease;
    color: var(--text-color);
  }
  .navlist a:hover {
    color: #faba20;
  }
  .navlist a.active {
    color: var(--text-color);
  }
  .navlist.open {
    top: 100%;
  }
}
@media (max-width: 753px) {
  .wrapper {
    max-width: 700px;
  }
  .wrapper .card {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .home-text h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 505px) {
  .wrapper {
    max-width: 500px;
  }
  .wrapper .card {
    width: 100%;
  }
}
.button2 {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 8px;
  text-decoration: none;
  padding: 8px 20px;
  color: white;
  margin-top: 10px;
  display: inline-block;
}
.button2:hover {
  background-color: #faba20;
  color: #ffffff;
  border: 2px solid #faba20;
}
.bg-modal {
  background-color: rgba(255, 255, 255, 0.8);
  width: 110rem;
  height: 50rem;
  position: absolute;
  left: 70px;
  top: 210%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  height: 600px;
  width: 500px;
  background-image: url(https://prawnicytransportu.pl/wp-content/uploads/2023/02/Certyfikat-Kompetencji-Zawodowych-2.png.webp);
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}
.close2 {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}
.close2:hover {
  color: #666;
}
.button3 {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 8px;
  text-decoration: none;
  padding: 8px 20px;
  color: white;
  margin-top: 10px;
  display: inline-block;
}
.button3:hover {
  background-color: #faba20;
  color: #ffffff;
  border: 2px solid #faba20;
}
.bg-modal2 {
  background-color: rgba(0, 0, 0, 0.8);
  width: 1400px;
  height: 800px;
  position: absolute;
  left: 210px;
  top: 210%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents2 {
  height: 600px;
  width: 500px;
  background-image: url(https://prawnicytransportu.pl/wp-content/uploads/2023/02/Certyfikat-Kompetencji-Zawodowych-2.png.webp);
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}
.close3 {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}
.close3:hover {
  color: #666;
}
.button4 {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 8px;
  text-decoration: none;
  padding: 8px 20px;
  color: white;
  margin-top: 10px;
  display: inline-block;
}
.button4:hover {
  background-color: #faba20;
  color: #ffffff;
  border: 2px solid #faba20;
}
.bg-modal3 {
  background-color: rgba(0, 0, 0, 0.8);
  width: 1400px;
  height: 800px;
  position: absolute;
  left: 210px;
  top: 210%;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-contents3 {
  height: 600px;
  width: 500px;
  background-image: url(https://prawnicytransportu.pl/wp-content/uploads/2023/02/Certyfikat-Kompetencji-Zawodowych-2.png.webp);
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}
.close4 {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}
.close4:hover {
  color: #666;
}
#shadow {
  display: none;
}
#shadow:checked ~ .shadow-content {
  display: block;
}
#shadow:checked ~ label {
  display: none;
}
.shadow-content {
  display: none;
}
label {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 8px;
  text-decoration: none;
  padding: 8px 20px;
  color: white;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}
.social-icon i {
  height: 40px;
  width: 40px;
  background: var(--text-color);
  color: #fff;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8%;
  margin-right: 15px;
  transition: all 0.45s ease;
}
.social-icon i:hover {
  background: #faba20;
  color: #fff;
}
.input-about {
  color: #fff;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}
